## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
del application_df["EIN"]
del application_df["NAME"]

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
v_counts = application_df["APPLICATION_TYPE"].value_counts()
v_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = v_counts[v_counts < 300].index.values

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
v_counts = application_df["CLASSIFICATION"].value_counts()
v_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
v_counts[v_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = v_counts[v_counts < 1000].index.values

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
cat_columns = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", 
               "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
dummied_df = pd.get_dummies(application_df, columns=cat_columns)
dummied_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummied_df.loc[:, dummied_df.columns != "IS_SUCCESSFUL"]
y = dummied_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=8675309)
X.shape, y.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape

((34299, 43), (34299,), (25724, 43), (8575, 43), (25724,), (8575,))

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled.shape, X_train_scaled, X_test_scaled.shape, X_test_scaled

((25724, 43),
 array([[ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.00016212, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.00273637, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        ...,
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365]]),
 (8575, 43),
 array([[ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        ...,
        [ 0.01079982, -0.0318147 , -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365],
        [ 0.01079982, -0.03208581, -0.08918651, ..., -0.07263404,
          0.02858365, -0.02858365]]))

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
in_shape = (X.shape[1],)
nn = tf.keras.models.Sequential()

# Input layer
nn.add(tf.keras.Input(shape=in_shape))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=in_shape[0], activation="elu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=in_shape[0], activation="elu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 43)                  │           1,892 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 43)                  │           1,892 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              44 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 3,828 (14.95 KB)

 Trainable params: 3,828 (14.95 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [14]:
# Callback to save whole model every 5 epochs
class CustomSaver(tf.keras.callbacks.Callback): 
    def on_epoch_end(self, epoch, logs={}): 
    # Save the model weights every 5 epochs 
        if (epoch + 1) % 5 == 0:
            self.model.save(f'model_epoch_{epoch + 1:03}.h5')
            print(f'Saved model weights at epoch {epoch + 1}')
saver = CustomSaver()

# Train the model
EPOCHS = 100
nn.fit(X_train_scaled, y_train, epochs=EPOCHS, callbacks=[saver])

Epoch 1/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 692us/step - accuracy: 0.6986 - loss: 0.2050
Epoch 2/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.7250 - loss: 0.1901
Epoch 3/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.7267 - loss: 0.1881
Epoch 4/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 657us/step - accuracy: 0.7248 - loss: 0.1881
Epoch 5/10
768/804 ━━━━━━━━━━━━━━━━━━━━ 0s 725us/step - accuracy: 0.7229 - loss: 0.1891

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Saved model weights at epoch 5
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 764us/step - accuracy: 0.7231 - loss: 0.1890
Epoch 6/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 697us/step - accuracy: 0.7298 - loss: 0.1863
Epoch 7/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.7247 - loss: 0.1866
Epoch 8/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 743us/step - accuracy: 0.7295 - loss: 0.1844
Epoch 9/10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 700us/step - accuracy: 0.7322 - loss: 0.1834
Epoch 10/10
789/804 ━━━━━━━━━━━━━━━━━━━━ 0s 704us/step - accuracy: 0.7231 - loss: 0.1876

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Saved model weights at epoch 10
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 732us/step - accuracy: 0.7232 - loss: 0.1876

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.7355 - loss: 0.1863
Loss: 0.1862655133008957, Accuracy: 0.7355102300643921

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.